include src/preventivi_cyberworks/templates/*.html
include src/preventivi_cyberworks/templates/*.css
include src/preventivi_cyberworks/branding/*/*.json
include src/preventivi_cyberworks/branding/*/*.png
